@import "./styles.less";


@rtv-blue: #004170;
@rtv-red: #b20035;
@rtv-green: #9acb9b;

.mock-banner{
    height: 52px;
    background: white;
    overflow: hidden;
    border-bottom:1px solid #ccc;
    text-align:center;
    img {
        height:32px;
        margin-top:10px;
    }
}

.tagebuch {
    color: @rtv-blue;
    /*text-transform: lowercase;*/
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.welcom-text {
    font-size: 15px;
}

.heute {
    font-weight:600;
    font-size: 12px;
    line-height:24px;
    color: #000;
    /*margin-bottom: 64px;*/
    margin-top: 3px;
}

.special-row {
    margin-left:0;
    margin-right:0;
    padding-top:8px;
    padding-bottom:8px;
}

.journal {
    border-bottom: 1px solid #efefef;
}
.week-navigator {
    padding: 8px 0;
    border-bottom: 1px solid #e9e9e9;
}

.week-nav-arrow {
    /*border: 1px solid;*/
    padding: 4px 8px;
    border-radius: 4px;
    margin-top: 8px;
}

#react-app{
    display: none;
    background: #e9e9e9;
}

#main-app {
    top: 52px;
    bottom: 0px;
    background: white;
    border-radius: 0;
    position: absolute;
    with: 100%;
    width: 100%;
    overflow: hidden;
    @media (min-width: @screen-sm) {
        top:52px;
        border-radius: 0;
        width:50%;
        left:25%;
    }
}

#mood-tracker{
    height: 100%;
    .partial-wrapper {
        top:24px;
        .partial-container {
            box-shadow: 0 0 25px #d9d9d9;
        }
    }
}

.partial-wrapper {
    background: white;
    top: 0px;
    position: absolute;
    bottom: 0px;
}

.partial-container{
    height:100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom:16px; 
}
.not-scrollable{
    overflow-y:hidden;
}

.nav-button{
    position: absolute;
    bottom: 16px;
    border-radius: 0;
    margin-top:0px;
    color: white;
    border-width:6px;
    margin-right:0;
    margin-bottom:0;
}
.prev-button{
    left: 16px;
}
.next-button{
    right: 16px;
}
.relative-button{
    position: inherit;
    width: 100%;
    display: inline-block;
    right: inherit;
    margin-top:16px;
}

.rtv-white-space {
    margin-bottom: 82px;
}
.prev-button-relative {
    position: inherit;
    display: block;
    margin-left:16px;
}

.welcome {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
}

.full-height {
    height:100%;
}
.welcome-modal {
    text-align: center;
    /*height:100%;*/
    img.welcome-rtv-image {
        height:32px;
        margin-top:24px;
    }
    .welcome-text-container {
        width: 100%;
        h3 {
            margin-top: 32px;
        }
        .source {
            font-size:14px;
            line-height:28px;
        }
    }
}
.quote {
    font-size: 32px;
    line-height: 40px;
}
.success-icon {
    color: #3c763d;
    margin-bottom: 16px;
}
.alert-success {
    background-color: #dff0d8;
    border-color: transparent;
    color: #3c763d;
    text-align: center;
    margin-bottom: 32px;
}

html, body, #react-app {
  height: 100%;
  overflow: hidden;
}
body{
    overflow: hidden;
    height: 100%;
    // background: -webkit-linear-gradient(left, rgb(188, 212, 120), rgb(146, 211, 129)); /* For Safari 5.1 to 6.0 */
    // background: -o-linear-gradient(left,#22b573, #05ab97); /* For Opera 11.1 to 12.0 */
    // background: -moz-linear-gradient(left,#22b573, #05ab97); /* For Firefox 3.6 to 15 */
    // background: linear-gradient(left,#22b573, #05ab97); /* Standard syntax */
}

#react-app{
    display: block;
}

.page-number{
    //hide for now
    //think about react component structure later;
    //i.e. QuestionView with gradient bg that consists of PageNumber(transparant bg) and Page (white bg)
    text-align: center;
    color: white;
    margin-top: -22px;
    width: 100%;
    position:fixed;
    font-weight: normal;
    text-shadow: 0 0 25px #cccccc;
    @media(min-width: @screen-sm) {
        width:50%;
        /*color: #444;
        position: absolute;
        z-index: 100;
        left: 6px;
        top: 42px;
        background: rgba(255,255,255,0.9);
        width: inherit;
        padding: 5px 5px;
        border-radius: 16px;*/
    }
}

.logout {
    position: fixed;
    top: 80px; //needs better solution
    right: 8px;
    font-size: 12px;
    color:#444;
    font-style: italic;
    opacity: 0.7;
}
.logout:hover, .logout:focus {
    opacity:1;
    color:#444;
    cursor:pointer;
}

.rtv-header-container {
    overflow:hidden;
    margin-bottom:16px;
}

.absolute-header {
    position:absolute;
    z-index: 5;
    margin-bottom:0;
}
.absolute-main {
    position:absolute;
    top: 136px;
    bottom: 100px;
    overflow-y:auto;
    @media(min-width: @screen-sm) {
        top: 172px;
    }
}

.rtv-title h3, .rtv-title {
    color: #444;
    font-weight: normal;
    letter-spacing: 0;
    margin-bottom: 0px;
    line-height:24px;
    margin-top:9px;
}
.rtv-subtitle h5 {
    font-weight: normal;
    line-height:1.5;
    letter-spacing: -.3px;
    font-size: 13px;
    color: #797979;
    margin-top:2px;
    @media (min-width: @screen-sm) {
    }
}

.invert{
    color: white;
}

.modal-trigger {
    top: 23px;
    position: absolute;
    right: 16px;
/*    @media (min-width: @screen-sm) {
        top: 64px;
        right: 48px;
    }*/
}

.relative {
    position:relative;
}


label.validation-message {
    font-weight: normal;
    font-size: 12px;
    color: @rtv-red;
}


.form-control {
    border-color: #d9d9d9;
    padding-left: 32px;
    padding-right: 64px;
    background-color: #fafafa;
    border-width: 1;
    border-radius: 0;
    border-width: 1px 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0;
}
.form-control:focus, input[type=text]:focus{
    border-color: #d9d9d9;
}

.email-control{
    border-width: 1px;
    @media (max-width: @screen-sm) {
        border-width: 1px 0;
    }
    border-radius:0;
    margin-top:16px;
}


.slider-range-container{
    margin-top:24px;
}
@emo-width: 24px;
.emo{
    width: @emo-width;
    // position:absolute;
}

// .emo-1{
//     left: 0%;
// }
// .emo-2{
//     left: 25%;
// }
// .emo-3{
//     left: 50%;
// }
// .emo-4{
//     left: 75%;
//     left:-webkit-calc(75% - 20px);
//     left:-moz-calc(75% - 20px);
//     left:calc(75% - 20px);
// }
// .emo-5{
//     right: 0%;
// }

#emo-container {
  display: table;
  width: 120%;
  margin: 20px auto;
  margin-left: -10%;
}

#emo-container a {
  display: table-cell;
  text-align: center;
  width: 20%;
}

#emo-container img {
  width: 100%;
  max-width: 30px;
}

textarea{
    background: #fafafa;
    height: 80px;
    width:100%;
    border-radius: 0;
    resize:none;
    margin-top:6px;
}

.text-input{
    padding-left: 32px;
}

.submit-form{
    margin-bottom:16px;
}
textarea, input[type="text"], input[type="submit"], input[type="email"] {
    -webkit-appearance: none;
}

#body-image-container {
    width:80%;
    max-width:240px;
    @media (max-width: @screen-md) {
        width:60%
    }
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#body-image{
    height:480px;
    @media (max-width: @screen-xs) {
        height: 380px;
    }
}

.body-part{
    stroke:#565656;
    stroke-width:1px;
}


.checkbox {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
}
#list-submit-button{
    position: absolute;
    top: 0px;
    right: 1px;
    border-radius: 0;
    background: #797979;
    border-color:#797979;
    i, span {
        vertical-align: middle;
    }
}


//Home View Journal list
ul.timeline-day {
    border: 0;
}

ul.timeline-day .list-item {
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
}

.btn, .btn:hover, .btn:focus{
    font-size: 12px;
    font-weight:600;
    text-transform: uppercase;
    color:white;
    box-shadow:none;
    text-shadow:none;
    background: #d9d9d9;
    background-color: #d9d9d9;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
    background: @rtv-green; //#004170;
    border-color: @rtv-green; //#004170;
    color: white;
    font-weight: normal;
    span.btn-text{
        margin-right:8px;
    }
}

.btn-full-width{
    width:100%;
}

.btn-ghost {
    color: #565656;
    background: transparent;
    background-color: transparent;
    border: 1px solid;
}
.btn-ghost:hover, .btn-ghost:focus {
    background: transparent;
    background-color: transparent;
    color: #333;
}

.btn-success, .btn-success:focus, .btn-success:hover{
    background-color: @rtv-green; //#449d44; // @rtv-blue;
    color: #fff;
    border-color: @rtv-green; //#449d44; //@rtv-blue;
}

img.emoticons{
    width:100%;
    margin-top: 16px;
}

// ul.rtv-list{
//     border-top: 1px solid #e9e9e9;
// }

li.rtv-list-item {
    font-size: 14px;
    padding: 0;
    height:inherit;
    line-height: 26px;
    padding: 6px 32px;
    color: #797979;
}

.timeline .time {
    font-size: 12px;
}

.rtv-list-item-delete {
    margin-left: 16px;
}

li.rtv-list-counter{
    padding-left:32px;
    // font-style:italic;
}


.form-control:focus {
    // .box-shadow(none);
    border: 1px solid #333333;
    -webkit-box-shadow: 0 0 0px 1000px #fafafa inset;
}

.feeling-value {
    font-size:16px;
    font-weight:600;
}
.result-feeling-value {
    font-size:inherit;
    font-weight:inherit;
    display:block;
    margin-top:5px;
}

.question-button {
    color: #767676;
    margin-top:25px;
}

.scroll-wrapper-rtv{
    position: absolute;
    bottom: 16px;
    left:inherit;
    z-index: 3;
    -webkit-transform: inherit;
    -moz-transform: inherit;
    -ms-transform: inherit;
    -o-transform: inherit;
    transform: inherit;
    width:100%;
}


li.result-title{
    padding-bottom:0;
}
li.result-answer{
    border-bottom:1px solid #e9e9e9;
    padding-top:0;
    font-size:12px;
    line-height:24px;
}
li.empty-list {
    border-bottom: none;
}

.closetext{
    margin-bottom:16px;
}

.fixed-section-footer{
    position: absolute;
    bottom: 0;
    // background: white;
    left: 0;
    height: 72px;
    width: 100%;
}

.relative{
    position: relative;
}

.touch-area {
    cursor: pointer;
}

// overrides Fullpage CSS
.fp-tableCell {
    vertical-align: inherit;
}

#fp-nav.right {
    right: 0px;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: #767676; // @rtv-blue
    background: transparent;
    border: 2px solid #767676; // @rtv-blue
    @media (min-width: @screen-sm) {
        border-color: white;
    }
}

//overrides rc-slider

.rc-slider {
    margin-top: 16px;
    margin-bottom:16px;
}
.rc-slider-handle, .rc-slider-handle:hover, .rc-slider-handle:focus{
    border-color: #05ab97; // make dynamic
}

.rc-slider-disabled .rc-slider-handle{
    display: none;
}
.rc-slider-track, .rc-slider-disabled .rc-slider-track {
    background-color: #05ab97; // make dynamic
}

//overrides react modal
.ReactModal__Overlay--after-open {
    z-index:100;
    //body modal options:
    .scrollable-container{
        padding: 0 !important;
        position: absolute;
        top: 0;
        left:0;
        bottom: 38px;
        width: 100%;
        overflow-y: auto;
        overflow-x:hidden;
    }
    .btn-square{
        border-radius: 0;
        margin-top: 0px;
        position: absolute;
        bottom: 0;
        left:0;
        margin-bottom: 0;
    }
}

.ReactModal__Content--after-open {

    @media (min-width: @screen-sm) {
        padding-left:30% !important;
        padding-right:30% !important;
        background: rgba(0,0,0,0.9);
    }
}
.ReactModal__Content {
   .checkbox {
    margin: 0 !important;
    padding-top: 0;
    padding-bottom: 0;
    }
    label {
        width: 100%;
        height: 100%;
        padding-top:12px;
        padding-bottom: 12px;
    }
    .checkbox input[type="checkbox"] {
        position: relative;
        margin-left:0;
        margin-right: 12px;
    }
}

.btn-square{
    border-radius: 0;
    margin-top: 32px;
}

.body-modal-title{
    text-align: center;
    margin-top: 18px;
}

.transition-group {
    width:100%;
    height:100%;
}
//ANIMATIONS
//check if modernizr allows
.cssanimations {
    .perspective-mixin(@value) {
        -webkit-perspective: @value;
        -moz-perspective: @value;
        -o-perspective: @value;
        -ms-perspective: @value;
        perspective: @value;
    }
    .transform-mixin(@value) {
        -webkit-transform: @value;
        -moz-transform: @value;
        -o-transform: @value;
        -ms-transform: @value;
        transform: @value;
    }
    .transition-mixin(@value) {
        -webkit-transition: @value;
        -moz-transition: @value;
        -o-transition: @value;
        -ms-transition: @value;
        transition: @value;
    }



    .page-enter {
      opacity: 0.01;
      // transform:   translate(80%,0);
      // transform: translate3d(80%,0,0);
    }

    .page-enter.page-enter-active {
      opacity: 1;
      // transform:   translate(0,0);
      //   transform: translate3d(0,0,0);
        .transition-mixin(all 300ms cubic-bezier(0.175, 0.665, 0.320, 1));
    }

    .page-leave {
      opacity: 1;
      .transition-mixin(opacity 300ms cubic-bezier(0.175, 0.665, 0.320, 1));
    }
    .page-leave.page-leave-active {
        opacity: 0.01;

    }

    .question-modal-enter {
      opacity: 0.01;
      // transform:   translate(80%,0);
      // transform: translate3d(80%,0,0);
    }

    .question-modal-enter.question-modal-enter-active {
      opacity: 1;
      // transform:   translate(0,0);
      //   transform: translate3d(0,0,0);
      .transition-mixin(opacity 300ms cubic-bezier(0.175, 0.665, 0.320, 1));
    }

    // .modal-leave {
    //   opacity: 1;
    // }

    // .modal-leave.modal-leave-active {
    //   opacity: 0.01;
    //   transition-property: opacity;
    // transition-duration: 300ms;
    // transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
    // }

    .ReactModal__Overlay {
      .perspective-mixin(600);
      opacity: 0.1;
    }

    .ReactModal__Overlay--after-open {
      opacity: 1;
      .transition-mixin(opacity 150ms ease-out);
    }

    .ReactModal__Content {
      .transform-mixin(scale(0.5) rotateX(-30deg));
    }

    .ReactModal__Content--after-open {
      .transform-mixin(scale(1) rotateX(0deg));
      .transition-mixin(all 150ms ease-in);
    }

    .ReactModal__Overlay--before-close {
      opacity: 0.1;
    }

    .ReactModal__Content--before-close {
      .transform-mixin(scale(0.5) rotateX(30deg));
      .transition-mixin(all 150ms ease-in);
    }
}